.image-viewer-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgb(0,0,0,0.8);
}

.image-viewer-container .close-button-container{
    text-align:right;
    color: white;
    position: absolute;
    right: 0;
    z-index: 10;

}

.image-viewer-container .close-button-container button{
    padding: 10px;
    background-color: rgb(222, 66, 66);
    border: 0px;
    color: white;
}

.image-viewer-container .image-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.image-viewer-container .image-container img{
    background-position: center;
    background-size: contain;
    height: fit-content;
    position: relative;
    top: 50%;
    max-width: 90vw;
    transform: translateY(-50%);
}

.image-viewer-container .navigation-buttons{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.image-viewer-container .navigation-buttons button{
    background-color: rgb(255, 71, 86);
    color: white;
    border: 0px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

@media all and (max-width: 495px){
    
}